<% add_decidim_page_title(t(".enter_code")) %>

<div class="wrapper">
<div class="row collapse">
  <div class="row collapse">
    <div class="columns large-8 large-centered text-center page-title">
      <h1><%= t(".enter_code") %></h1>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-7 large-5 medium-centered">
      <div class="card">
        <div class="card__content">
          <%= decidim_form_for(@form) do |f| %>
            <div class="field">
              <%= f.text_field :code, autofocus: true, autocomplete: :off %>
            </div>

            <div class="actions">
              <%= f.submit t("decidim.friendly_signup.confirmation_codes.validate"), class: "button expanded" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
</div>