<% add_decidim_page_title(t(".enter_code")) %>

<div class="wrapper">
<div class="row collapse">
  <div class="row collapse">
    <div class="columns large-8 large-centered text-center page-title">
      <h1><%= t(".enter_code") %></h1>
    </div>
  </div>
hi
</div>